splot-research/build/
splot-research/.DS_Store
splot-research/.classpath
splot-research/.settings/
.metadata/
.recommenders/
Servers/
*.war

# Logs
splot-research/WebContent/splot.log
*.log

# IDE Metadata
splot-research/.project

# User-Generated Data
splot-research/WebContent/models/model_*.xml
splot-research/WebContent/models/temp_models/*
!splot-research/WebContent/models/temp_models/.keep
