.ctcFeatureFiltering {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px; 
	color: #FF7900;
	background-color: rgb(255,240,200); 
	font-weight: normal;
	cursor:pointer;
	vertical-align: middle;
}

.highlightFMRepositoryEntry {
	color: white;
	background-color: #FFBB00; 
	cursor:pointer;
}

.standardTableStyle {
	text-align: left;
	background-color: white;
	font-size: 11px;
	font-style: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	cursor:pointer;
}

.standardTableStyle td {
	border-style: solid;
	border-width: 1px;	
	border-spacing: 0px;
	border-color: gray;	
	padding: 5px;
}

.standardTableStyle th {
	border-style: solid;
	border-width: 1px;	
	border-spacing: 0px;
	border-color: gray;	
	padding: 4px;
}

.clickabletext {
	text-decoration: none;
	border-bottom: 1px dotted #CC0001;
	color: #FB7600;
	cursor: pointer;
}

.hintBox {
    margin-top: 0px;
    color: #292929;
    width: 880px;
    border: 1px solid #BABABA;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.hintBox2 {
    margin-top: 0px;
    color: #292929;
    width: 820px;
    border: 1px solid #BABABA;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.stylishTitle {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px; 
	color: #FF7900;
	background-color: rgb(255,240,200); 
	font-weight: bold;
	cursor:pointer;
	vertical-align: middle; 	
}

.orangeFont {
	color: #FF7900;
	background-color: white; 
}

.stylishTitle2 {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px; 
	color: #FF7900;
	background-color: white; 
	font-weight: bold;
	cursor:pointer;
	vertical-align: middle; 	
}

.orangeBackgroundStyle a {
	font-size: 11px;
	color: white;
	background: #FF7900;
	text-decoration: underline;
}

.orangeBackgroundStyle a:hover {
	font-weight: bold;
}

table.feature_model_edition_table1 {
	width: 100%;
	border-style: dashed; 
	border-width: 1px;
	border-spacing: 0px;
	border-color: black; 
	text-align: left;
	background-color: white;
}

table.feature_model_edition_table1 td {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: white; 
	border-style: solid;
	border-width: 0px;	
	border-spacing: 0px;
	border-color: gray;
	padding: 3px;
	font-size: 11px;
	font-style: normal;
}

.disabledRow {
	border-style: solid;
	border-width: 1px;	
	border-spacing: 0px;
	border-color: gray;
	padding: 3px;
	font-size: 11px;
	font-style: normal;
	background-color: rgb(200,200,200); 
}

.xmltag {
	color: #FF7900;
	font-weight: bold;
}

.xmlattr {
		color: black;
		font-weight: bold;
}

.highlightFeature,
.commonFeatureStyle,
.deadFeatureStyle,
.standardHighlight1 {
	background-color: #FF7900; 
	color: white;
	cursor: pointer;	
} 

.standardHighlight1 a {
	color: white;
	background: #FF7900;
	text-decoration: underline;
	cursor: pointer;
}

.standardHighlight1 a:hover {
	font-weight: bold;
	cursor: pointer;
}

.mouseoverfeature {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px; 
	color: #FF7900;
	background-color: white; 
	font-weight: bold;
	cursor:pointer;
	vertical-align: middle; 
}


.selectedFeatureEdition {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px; 
	background-color: #FF7900;
	color: white; 
	font-weight: bold;
	cursor:pointer;
	vertical-align: middle; 
}

.normalFeature {
	font-size: 12px; 
	color: #FF7900;
	cursor:pointer;
	vertical-align: middle; 
}

.selectedFeature {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-size: 12px; 
	color: white; 
	background-color: #FF7900;
	vertical-align: middle; 
	font-weight: bold;
	cursor: pointer;
}

.greyedFeature {
    margin-top: 0px;
    border: 1px solid #BABABA;    
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	font-size: 12px; 
	color: black; 
	background-color: #E3E8EE;
	vertical-align: middle; 
	font-weight: bold;
	cursor: pointer;
}

.deselectedFeature {
	font-size: 12px; 
	color: gray;
	text-decoration: line-through;
	cursor: default;
	vertical-align: middle; 
}

.errorMessage {
	font-size: 14px; 
	color: #FF7900;
	font-weight: bold;
}


/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	background: url(images/img01.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #444444;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #CC0001;
	color: #FB7600;
}

a:hover {
	background: none;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	background: url(images/img04.jpg) no-repeat left top;
}

#wrapper .btm {
}

/* Header */

#header {
	width: 900px;
	height: 90px;
	margin: 0 auto;
	background: url(images/img02.jpg) repeat-y left top;
}

/* Logo */

#logo {
	float: left;
	width: 640px;
	color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
	float: left;
	padding: 30px 0 0 20px;
	margin-right: 10px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 4.0em;
}

#logo h1 a {
	color: #FF7900;
}

#logo p {
	float: left;
	margin: 44px 0 0 0;
	padding: 3px 10px 3px 0px;
	font: normal 13px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Search */

#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 900px;
	height: 44px;
	background: url(images/img03.jpg) no-repeat left top;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 13px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 3px;
	padding: 5px 20px 7px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu a:hover {
	background: #FF7900;
	text-decoration: none;
}

#menu .first {
	margin-right: 3px;
	background: #FF7900;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding-top: 10px;
}

/* Content */

#content {
	float: left;
	width: 900px;
	padding: 0px 0px 0 0;
}

.post {
	margin-left: 20px;
	padding-bottom: 5px;
}

.post .title {
	padding-left: 10px;
	border-left: 4px solid #F57601;
	color: #000000;
}

.post .title a {
	background: none;
	color: #444444;
	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .meta {
	background: #E0E0E0;
	border-left: 4px double #F57601;
	border-right: 4px double #F57601;
	padding: 3px 10px 3px 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.post .meta .comments,.post .meta .permalink {
}

.post .entry {
	padding: 10px 20px 20px 10px;
	text-align: justify;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 210px;
	padding: 25px 10px 0 20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #BCBCBC;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
	color: #BCBCBC;
}

#sidebar h2 {
	letter-spacing: -.5px;
	color: #444444;
}

#sidebar p {
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #000000;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 900px;
	height: 20px;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	background: #444444;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #FFFFFF;
	border-bottom: 1px #FFFFFF dotted;
}
